.table-layout {
    text-align: center;
    width:60px;
    height:60px;
    text-align:center;
    vertical-align:middle;
    background-color:#00ffff;
    border:3px solid #ff00ff;
}
.table-layout td, .table-layout th {
    border:3px solid #ff00ff;
    width:60px;
    height:60px;
    
}
.table-layout td {
    text-align: center;
    width:60px;
    height:60px;
}
.selected {
    color: #000000;
    background-color:#ffff00;
}
