table td {
  width:60px;
  height:60px;
  text-align:center;
  vertical-align:middle;
  background-color:#00ffff;
  border:3px solid #ff00ff;
}

table td.highlighted {
  background-color:#ffff00;
}