<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/default.css">
    <title>groupre: the Class Team Builder</title>
</head>

<body>
    <a href="/">
        <div class="header">
            <img alt="groupythegroupregrouper" src="../static/groupy.png">
            <h1>Groupre</h1>
        </div>
    </a>
    <br>
    <br>
    <div class="options">
        <form action="/room-select">
            <input class="btn" type="submit" value="Run Groupre" />
        </form>
        <form action="/upload-room">
            <input class="btn" type="submit" value="Upload A Room" />
        </form>
        <form action="/room-creation">
            <input class="btn" type="submit" value="Create A Room" />
        </form>
        <form action="/test">
            <input class="btn" type="submit" value="Run Tests" />
        </form>
    </div>
    <!-- <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/room-select">Run Groupre</a></li>
            <li><a href="/room-creation">Create a Room</a></li>
            <li><a href="/test">Run Tests</a></li>
    </ul> -->
    <br>
    <br>
    <a href="https://github.com/jeyerena/ClassTeamBuilder">
        <img id="Mark" alt="Github page" src="../static/GitHub-Mark/PNG/GitHub-Mark-120px-plus.png" border="0">
    </a>
    <br>
    <br>
    <a href="https://github.com/jeyerena/ClassTeamBuilder/tree/master/docs">Documentation</a>
    <br>
</body>

</html>