<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>groupre: Upload Students Preference</title>
</head>

<body>
    <div class="w3-container">
        <a href="/">
            <div class="w3-display-container w3-display-topmiddle" style="height:100px;width:50%">
                <h1 class="w3-display-middle">Groupre</h1>
                <img class="w3-display-right" alt="groupythegroupregrouper" src="../static/groupy.png" width="100px" height="100px">
            </div>
        </a>
    </div>

    <div class="w3-container">
        <div class="w3-display-container w3-display-middle" style="height:30%;width:50%">
            <!--input type="checkbox" class="w3-display-topmiddle" id="check"-->
            <form class="w3-display-middle" method="POST" action="selectRoom(select)">
                <p>Select a Room</p>
                <select id="dropdown">
                    {%- for item in chairFiles.keys() %}
                    <option value="{{ chairFiles[item] }}">{{ item }}</option>
                    {%- endfor %}
                </select>
                <button type="button" id="selectRoom">Submit</button>
            </form>
            <script>
                document.getElementById("selectRoom").onclick = function () {
                    var select = document.getElementById('dropdown');
                    var idx = select.selectedIndex;
                    var selectedOption = select.options[idx].value;
                    /* var fallback = document.getElementById("check").checked;
                     if (fallback){
                         selectedOption = selectedOption + '-fallback';
                     }*/
                    window.location = "/upload/" + selectedOption;
                };
            </script>
        </div>
    </div>
</body>