body {
    display: block;
    text-align: center;
    font-family: sans-serif;
    max-width: 100%;
}

.fish{
    height: auto;
    width: auto;
    max-width: 250px;
    max-height: 250px;
}

a {
    text-decoration-line: none;
}
