body {
    background-image: url("beach.jpg");
    font-size: 20pt;
    font-family: Verdana,Geneva,sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
    text-align: center;
}

input[type="number"] {
    width: 60px;
    padding: 1px;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-family: Verdana,Geneva,sans-serif;
}

input[type='button'].square {
    margin: 0px;
    padding: 0px;
    width: 20px;
    height: 20px;
    font-weight: bold;
    font-size: 12px;
    background-color: #add8e6;
    display: inline-block;
    float: left;
    border: 1px solid #000000;
}

input[type='button'].square:active, input[type='button'].square.active {
    background-color: #D2B48C;
    border: 1px solid #000000;
}

#Classroom {
    width: 100%;
    height: 100%;
    border: 2px solid #000000;
}

#seatsRem .window {
    display: inline-block;
    padding: 2px;
    background-color: white;
    color: #000000;
    font-size: 16px;
    font-family: Verdana,Geneva,sans-serif;
    border: 1px solid #000000;
}