body {
    display: block;
    text-align: center;
    /* font-family: sans-serif; */
	max-width: 100%;
	padding-left: 10em;
	padding-right: 10em;
  	font-family: Verdana, Geneva, sans-serif;
	color: black;
	background:#80d4ff ;
}

h2{
	width:100%;
	text-align:center;		
}
.options > *{
	margin: 20px 0;
}
a{
	text-decoration: none;
}

.header{
    margin: auto;
    width: 40%;
    padding: 10px;
}

.header img {
	padding:0;
	margin:0;
	width: 125px;
	height: 125px;
}
  
.header h1 {
	position: fixed;
	top: 18px;
	left: 20px;
	color: black;	
}
.pageTitle{
	width: 30%;
	margin-right:auto;
	margin-left: auto;
	text-align: center;
	color: black;
}
.btn {
	border-radius: 15px;
	font-family: Arial;
	color: #ffffff;
	font-size: 18px;
	background: #80d4ff;
	padding: 20px 20px 40px 20px;
	text-decoration: none;
}

.btn:hover {
	background: #595959;
	text-decoration: none;
}

#Mark{
	max-height: 60px;
	max-width: 60px;
}

#prompt{
	color:red;
	text-align: center;
	font-size:40px;
	width:100%;
	margin:auto;
}