
body {
	text-align: center;
	font-size:18px;
    display: block;
    text-align: center;
    /* font-family: sans-serif; */
	max-width: 100%;
	padding-left: 10em;
	padding-right: 10em;
  	font-family: Verdana, Geneva, sans-serif;
	color: #477099;
	background:#DDFFFE ;
}
a{
	text-decoration: none;
}
h1 {
	text-align:center;
}

a:hover {
	text-decoration: none;
}

form{
	display: inline-block;
}

#prompt{
	font-size:28px;
	color:red;
}
.notworking{
	background: grey;	
}

