a{
	text-decoration: none;
}

.header{
  margin: auto;
  width: 40%;
  padding: 10px;
}

.header img {
float: right;
width: 125px;
height: 125px;
}

.header h1 {
position: relative;
top: 18px;
left: 0px;
color: black;	
}

p.one {
	border-style: solid;
    border-color: blue;
    border-width: 5px;
    text-align: center;
}

.aisleLeft {
  margin-right: 20px;
  
}

.aisleRight {
  margin-left: 20px;
}

.errorIntro {
  visibility: visible;
	color: red;
}

.errorIntro.hidden {
	visibility: hidden;
}

.outPut li {
	font-weight: bold;
}

.container {
  background-color: #e1ebf6;
}

table td {
  width:60px;
  height:60px;
  text-align:center;
  vertical-align:middle;
  background-color:#ffffff;
  border:3px solid #000000;
  display:inline-block;
}

table td.highlighted {
  background-color:red;
}

table {
    table-layout:fixed;
    width: 100%;
    text-align:center;
    vertical-align:middle;
    background-color:white;
    border:5px solid brown;
    margin-top: 20px;
}

.table-layout {
    text-align: center;
    width:60px;
    height:60px;
    vertical-align:middle;
    background-color:#00ffff;
    border:3px solid #ff00ff;
}
.table-layout td, .table-layout th {
    border:3px solid #ff00ff;
    width:60px;
    height:60px;

}
.table-layout td {
    text-align: center;
    width:60px;
    height:60px;
}
.selected {
    color: #000000;
    background-color:#ffff00;
}

td.highlight, tr.highlight {
  background-color: yellow;
}

.leftHand {
  background-color: red;
}

.front {
  background-color: lightblue;
}

.back {
  background-color: lightgreen;
}

.broken {
  visibility: hidden;
}
#interface{
  width:100%;
}
#controls{
  float: right;
  width :100%;
  height:100%;
  border: 1px black dashed;
}
#controls > * {
  position: relative;
  float:left;
  margin: 20px 40px;
  text-align: center;
}

#output {
  float: left;
  height: 100%;
  width: 75%;
  overflow: auto;
  border: 1px black dashed;
}

#interface input {
  display: block;
  font-weight: bold;
  height: 40px;
}

#teamList {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  background-color: white;
}

#interface p:hover {
  background-color: yellow;
}
