
.aisleLeft {
  margin-right: 20px;
  
}

.aisleRight {
  margin-left: 20px;
}

.frontish {
  background-color: lightblue;
}

.backish {
  background-color: lightgreen;
}

.errorIntro {
  visibility: visible;
	color: red;
}

.errorIntro.hidden {
	visibility: hidden;
}

.outPut li {
	font-weight: bold;
}

.container {
  background-color: #e1ebf6;
}

table td {
  width:60px;
  height:60px;
  text-align:center;
  vertical-align:middle;
  background-color:#ffffff;
  display:inline-block;
}

table td.highlighted {
  background-color:red;
}

table {
    table-layout:fixed;
    width: 100%;
    text-align:center;
    vertical-align:middle;
    background-color:white;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.table-layout {
    text-align: center;
    width:60px;
    height:60px;
    vertical-align:middle;
    background-color:#00ffff;
    border:3px solid #ff00ff;
}
.table-layout td, .table-layout th {
    border:3px solid #ff00ff;
    width:60px;
    height:60px;

}
.table-layout td {
    text-align: center;
    width:60px;
    height:60px;
}
.selected {
    color: #000000;
    background-color:#ffff00;
}

td.highlight, tr.highlight {
  background-color: yellow;
}

.leftHand {
  /* background-color: red; */
  color:red;
  z-index: 2;

}

.front {
  background-color: blue;
}

.back {
  background-color: green;
}

.broken {
  visibility: hidden;
}

.left {
  color: greenyellow;
}

.middle {
  color: lightsalmon;
}

.right {
  color: lightslategray;
}