a{
	text-decoration: none;
}

.header{
  margin: auto;
  width: 40%;
  padding: 10px;
}

.header img {
float: right;
width: 125px;
height: 125px;
}

.header h1 {
position: relative;
top: 18px;
left: 0px;
color: black;	
}

p.one {
	border-style: solid;
    border-color: blue;
    border-width: 5px;
    text-align: center;
}

.aisleLeft {
  margin-right: 20px;
  
}

.aisleRight {
  margin-left: 20px;
}

.errorIntro {
  visibility: visible;
	color: red;
}

.errorIntro.hidden {
	visibility: hidden;
}

.outPut li {
	font-weight: bold;
}

.container {
  background-color: #e1ebf6;
}

table td {
  width:60px;
  height:60px;
  text-align:center;
  vertical-align:middle;
  background-color:#ffffff;
  border:3px solid #000000;
  display:inline-block;
}

table td.highlighted {
  background-color:red;
}

table {
    table-layout:fixed;
    width: 80%;
    text-align:center;
    vertical-align:middle;
    background-color:#d3d3d3;
    border:3px solid #a9a9a9;
    margin-top: 20px;
}

.table-layout {
    text-align: center;
    width:60px;
    height:60px;
    vertical-align:middle;
    background-color:#00ffff;
    border:3px solid #ff00ff;
}
.table-layout td, .table-layout th {
    border:3px solid #ff00ff;
    width:60px;
    height:60px;

}
.table-layout td {
    text-align: center;
    width:60px;
    height:60px;
}
.selected {
    color: #000000;
    background-color:#ffff00;
}

td.highlight, tr.highlight {
  background-color: yellow;
}

.leftHand {
  background-color: red;
}

.front {
  background-color: lightblue;
}

.back {
  background-color: lightcoral;
}

.broken {
  visibility: hidden;
}

#interface #controls{
  float: right;
  margin-top: 20px;
}

#interface #output {
  float: left;
  height: 70%;
  width: 50%;
}

#interface input {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  height: 40px;
}

#interface #teamList {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  background-color: white;
}

#interface p:hover {
  background-color: yellow;
}
