<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../static/'test.css'" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="../static/jquery.min.js"></script>
	<script src="../static/'board.js'"></script>
	<title>groupre</title>
</head>

<body>
	<div id="b_creation">
		Rows:
		<input id="rows" /> Columns:
		<input id="cols" />
		<input type="button" id="build" value="Submit" />
	</div>

	<div id="board"></div>
</body>