{% extends "layout.html" %}
{% block content %}
	<div class="section no-pad-bot" id="index-banner">
		<div class="container">
			<br>
			<br>
			<h1 class="header center light-blue-text">demo</h1>
			<div class="row center">
				<h5 class="header col s12 light">The demo portion of groupre is currently under construction.</h5>
			</div>
			<div class="row center">
				<a href="/" id="homepage-button" class="btn-large waves-effect waves-light light-blue">Homepage</a>
			</div>
			<br>
			<br>
		</div>
    </div>
    
    <div class = "section no-pad-bot" > 
        <div class=" container" >
            <div class=" row center">
				<h4>
					Upload student csv and chair csv here (order matters)
				</h4>
                <form action="/transform" method="post" enctype="multipart/form-data">
					<input type="file"  name="student_file" />
					<input type="file"  name="chair_file" />
                    <input type="submit" />
				</form>
            </div>
        </div>
	</div>


	<!--Footer Section-->
	<footer class="page-footer grey darken-4">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">Project Information</h5>
					<p class="grey-text text-lighten-4">The groupre project is designed to provide a tool for instructional use in large classroom environments where assigning
						of seats for team-creation or other similar goals is desired.</p>
				</div>
				<div class="col l3 s12">
					<h5 class="white-text">Other Links</h5>
					<ul>
						<li>
							<a class="white-text" href="https://github.com/jeyerena/ClassTeamBuilder">Project GitHub</a>
						</li>
						<li>
							<a class="white-text" href="https://github.com/jeyerena/ClassTeamBuilder/tree/master/docs">Documentation</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				Made by
				<a class="light-blue-text text-lighten-3" href="http://materializecss.com">Materialize</a>
			</div>
		</div>
	</footer>


	<!--Scripts-->
	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	    crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
	    crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/color/jquery.color-2.1.2.min.js" integrity="sha256-H28SdxWrZ387Ldn0qogCzFiUDDxfPiNIyJX7BECQkDE="
	    crossorigin="anonymous"></script>

	<!-- Materialize -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

	<!-- Grid Prototype -->
	<script src="static/js/blueprintBuilder.js"></script>
{% endblock content %}