
{% extends "layout.html" %}
{% block content %}
<div class = 'pageTitle'>
    {{title}}
</div>
<form>
    <label class = 'labelText' for = 'classList'>Select a classroom template</label>
    <select class = 'btn btn-info' id = "classList">
        {%- for item in roomFiles.keys() %}
        <option value="{{ roomFiles[item] }}">{{ item }}</option>
        {%- endfor %}
    </select>
    <button class = "btn btn-info" type = "button" id="goToClass"> Go</button>
</form>

<script>
        // Selects the room from template and builds it. 
        document.getElementById('goToClass').onclick = function(){
        var select = document.getElementById('classList');
        var idx = select.selectedIndex;
        var selectedOption = select.options[idx].value;
        
        window.location='/template/' + selectedOption;
    }

</script>

{% endblock content %}
