
{% extends "layout.html" %}
{% block content %}
<h2>{{title}}</h2>
<p>Select a classroom template</p>
<form>
    <select id = "classList">
        {%- for item in roomFiles %}
        <option value="{{ roomFiles[item] }}">{{ item }}</option>
        {%- endfor %}
    </select>
    <button type = "button" id="goToClass" > Go</button>
</form>
<script>
        // Selects the room from template and builds it. 
        document.getElementById('goToClass').onclick = function(){
        var select = document.getElementById('classList');
        var idx = select.selectedIndex;
        var selectedOption = select.options[idx].text;
        
        window.location='/template/' + selectedOption;

    }
</script>

    


{% endblock content %}
