{% extends "layout.html" %}
{% block content %}
<script>
  // loads json from flask
  var template = JSON.parse('{{jdata | tojson | safe}}');
  var tempName = '{{name}}';
</script>
<div class='leftTab'>
  <h1 class="pageTitle">{{title}}</h1>
  <form>
    <h4>Room selected = {{name}}</h4>

    <label for='teamName'>section name:</label>
    <input id="teamName" />
    <input class="btn btn-success ml-sm-4" type="button" id="buildClass-e" value="Build Class" />

  </form>

  <form>
    <div class="form-group">
      <input class="btn btn-info" type="button" id="teamButton-e" value="Create Team from Selected Seats" />
      <input class="btn btn-info" type="button" id="removeTeam-e" value="Delete Team from Selected Seats" />
    </div>

    <div class="form-group">
      <select class ='btn btn-info' id="dropdown">
      </select>
      <button class="btn btn-info" type="button" id="autoAdd-e">Form Group</button>
    </div>

    <div class="form-group">
      <input class="btn btn-warning" type="button" id="resetTeam-e" value="Reset Team" />
      <input class="btn btn-success" type="button" id="saveTeam-e" value="Save Team" />
      <p id="notice-e"></p>
    </div>
  </form>

  <!-- <div id="teamList">
        <script src="../static/teamBuilder.js"></script>
    </div> -->

</div>

<div id="teamTemp-e">
  <p>Legend: Blue = front row, Red text = left handed seats, Green = back row</p>
  <img class="mx-auto img-fluid" id='podium' alt="podiumImg" src="../static/podium.png">

  <script src="../static/teamBuilder.js"></script>
</div>

{% endblock content %}