
	{% extends "layout.html" %}
  {% block content %}
    <h2 class = "pageTitle">{{title}}</h2>
    <!-- <script type="text/javascript" src="../static/jquery.min.js"></script> -->
    <br>
    Room Name: <input id="roomID"/>
    <br>
    Enter rows here => <input id="Enter rows here:" value="10"/>
    Enter columns here => <input id="Enter columns here:" value="10"/>
    <input type="button" id="build" value="Build the room!"/>
    
    <div id="interface">
      <div id="controls">
        <input type="button" id="leftHandedButton" value="Set Selected Seats as Left-Handed"/>
        <input type="button" id="aisleButton" value="Place an Aisle Between Two Columns of Seats"/>
        <input type="button" id="frontRowButton" value="Set Selected Seats as the Front Row"/>
        <input type="button" id="backRowButton" value="Set Selected Seats as the Back Row"/>
        <input type="button" id="brokenButton" value="Set Selected Seats as Un-Usable"/>
        <br>
        <input type="button" id="saveChanges" value="Save Changes"/>
        <p id="message"></p>        

        <!-- <form>
          <select id="dropdown">
          </select> 
          <button type="button" id="autoAdd">Submit</button>
        </form> -->
        
        
        <input type="button" id="reset" value="Reset Board"/>
       
     
    </div> 
    </div>
    <div id="output"> 
        <script src="../static/groupreGUI.js"></script>
      </div>
{% endblock content %}
