<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Groupre</title>
  <meta name="description" content="GroupreHome">
  <meta name="author" content="Team Groupre">

  <link rel="stylesheet" href="../static/groupre.css" style type="text/css">
  <script type="text/javascript" src="../static/groupreGUI.js"></script>
    <!-- <script src="GUI1.js"></script> -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="../static/jquery.min.js"></script>

</head>

<body>
    <script type="text/javascript" src="../static/jquery.min.js"></script>
    
    Enter rows here => <input id="Enter rows here:" value="10"/>
    Enter columns here => <input id="Enter columns here:" value="10"/>
    <input type="button" id="build" value="Build the room!"/>

    <div id="interface">
      <div id="controls">
        <input type="button" id="teamButton" value="Create Team from Selected Seats"/>
        <input type="button" id="leftHandedButton" value="Set Selected Seats as Left-Handed"/>
        <input type="button" id="aisleButton" value="Place an Aisle Between Two Columns of Seats"/>
        <input type="button" id="frontRowButton" value="Set Selected Seats as the Front Row"/>
        <input type="button" id="backRowButton" value="Set Selected Seats as the Back Row"/>
        <input type="button" id="brokenButton" value="Set Selected Seats as Un-Usable"/>
        <br>
        <input type="button" id="saveChanges" value="Save Changes"/>
      </div>
      
      <input type="button" id="reset" value="Reset Board"/>
      
      <div id="teamList">
        <script src="../static/groupreGUI.js"></script>
      </div>
    </div>

    <div id="output">
      <script src="../static/groupreGUI.js"></script>
    </div>

</body>
</html>
