
{% extends "layout.html" %}
{% block content %}
<script>
  // loads json from flask
  var template = JSON.parse('{{jdata | tojson | safe}}');
  var tempName = '{{name}}';
</script>
<div>
  <h4>Room selected = {{name}}</h4>
  <h4>Room Name: <input id="teamName"/></h4>
  <form>
    <input type = "button" id = "buildClass" value = "Build Class"/>
  </form>
</div>
<div id="interface">
    <div id="controls">
      <input type="button" id="teamButton" value="Create Team from Selected Seats"/>
      
      <input type="button" id="saveTeam" value="Save Team"/>
      <p id="message"></p>        

      <input type="button" id="resetTeam" value="Reset Team"/>
     
    <div id="teamList">
        <script src="../static/teamBuilder.js"></script>
    </div>
  </div> 
</div>
<div id="template">
  <p>
    Note: Blue is front row, Red is left column, Pink is back row.
  </p>
    <script src="../static/teamBuilder.js"></script>
</div>

{% endblock content %}