
{% extends "layout.html" %}
{% block content %}
<script>
  // loads json from flask
  var template = JSON.parse('{{jdata | tojson | safe}}');
  var tempName = '{{name}}';
</script>
<h1 class = "pageTitle">{{title}}</h1>
<div>
  <h4>Room selected = {{name}}</h4>
  <h4>section name: <input id="teamName"/></h4>
  <form>
    <input class = "btn btn-info" type = "button" id = "buildClass" value = "Build Class"/>
  </form>
</div>
<div id="interface">
    <p>
        Note: Blue is front row, Red is left column, Pink is back row.
      </p>
    <div id="controls">
      <input class="btn btn-info" type="button" id="teamButton" value="Create Team from Selected Seats"/>
      
      <input class = "btn btn-info" type="button" id="saveTeam" value="Save Team"/>
      <p id="notice"></p>        

      <form action="">
          <select id="dropdown">
          </select> 
          <button class = "btn btn-info" type="button" id="autoAdd">Submit</button>
        </form>

      <input class = "btn btn-info" type="button" id="resetTeam" value="Reset Team"/>
     
    <div id="teamList">
        <script src="../static/teamBuilder.js"></script>
    </div>
  </div> 
</div>
<div id="template">
    <script src="../static/teamBuilder.js"></script>
</div>

{% endblock content %}