
{% extends "layout.html" %}
{% block content %}
<h2 class = "pageTitle" >{{title}}</h2>
<p>Select a classroom template</p>
<form>
    <select id = "classList">
    </select>
</form>
<div id="interface">
        <div id="controls">
          <input type="button" id="teamButton" value="Create Team from Selected Seats"/>
          
          <input type="button" id="saveTeam" value="Save Team"/>
          <p id="message"></p>        
  
          <form>
            <select id="dropdown">
            </select>  -->
            <button type="button" id="autoAdd">Submit</button>
          </form>
          <input type="button" id="resetTeam" value="Reset Team"/>
         
        <div id="teamList">
          <script src="../static/groupreGUI.js"></script> 
        </div>
      </div> 
        
        
      </div>
      <!-- <div id="output"> 
          <script src="../static/groupreGUI.js"></script>
        </div> -->
{% endblock content %}
