{% extends "layout.html" %}
{% block content %}
    <br>    
    <br>    
    <div class="options">
    <form action="/room-select">
        <input class="btn" type="submit" value="Run Groupre" />
    </form>    
    <form action="/room-creation">
        <input class="btn" type="submit" value="Create Room template" />
    </form>
    <form action="/team-creation">
        <input class = "btn" type = "submit" value = "Create Teams"/>
    </form>
    <form action="/test">
        <input class="btn" type="submit" value="Run Tests" />
    </form>
    </div>
    <br>
    <br>
    <a href="https://github.com/jeyerena/ClassTeamBuilder"><img id="Mark" alt="Github page" src="../static/GitHub-Mark/PNG/GitHub-Mark-120px-plus.png" border="0"></a>
    <br>
    <br>
    <a href="https://github.com/jeyerena/ClassTeamBuilder/tree/master/docs">Documentation</a>
    <br>
    {% endblock content %}
