{% extends "layout.html" %}
{% block content %}
<div class="pageTitle">
    Groupre
    <!-- {{title}} -->
</div>

<br>
<br>

<div id="homeTable">
    <a href="/room-select">
        <div class='groupreBtn'>
            <img class="mx-auto img-fluid" alt="groupythegroupregrouper" src="../static/groupy.png">
        </div>
    </a>
    <a href="/room-creation">
        <div class='homeBtn'>
            Create Room
        </div>

    </a>

    <a href="/editTemplate">
        <div class='homeBtn'>
            Edit Room
        </div>

    </a>

    <a href="/team-creation">
        <div class='homeBtn'>
            Create Teams
        </div>

    </a>

    <a href="/team-edition">
        <div class='homeBtn'>
            Edit Teams
        </div>
    </a>
</div>






{% endblock content %}