<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
	<meta name="description" content="GroupreHome">
	<meta name="author" content="Team Groupre">
	  
	<title>groupre {{ title }} </title>

	<style>
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color:  #80d4ff;
			position: relative;
			top:0px;
			left:0px;
			width:100%;
		}
		
		li {
			float: left;
			font-size:18px;
		}
		
		li a {
			display: block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}
		
		li a:hover {
			background-color:  #0099e6;
		}
		</style>
	<!--CSS-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/default.css">
	<link rel="stylesheet" href="../static/groupre.css" style type="text/css">
	<!-- <link rel="stylesheet" href="../static/test.css" type="text/css"> -->
	<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->

	  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	  <script type="text/javascript" src="../static/jquery.min.js"></script>
		<script type="text/javascript" src="../static/classBuilder.js"></script>
		<script type="text/javascript" src="../static/editClass.js"></script>
	  <script type="text/javascript" src="../static/teamBuilder.js"></script>
</head>

<body>
	<ul>
		<li><a class="active" href="/">Home</a></li>
		<li><a href="/room-select">Run Groupre</a></li>
		<li><a href="/editTemplate">Build Class</a></li>
		<li><a href="/team-creation">Build Team</a></li>
		<!-- <li><a href="/test">Run Test</a></li> -->
		<li><a href="https://github.com/Groupre/groupre" target="_blank"><img class = "mx-auto img-fluid" src = "../static/GitHub-Mark/PNG/GitHub-Mark-120px-plus.png" width = "25%" height = "25%"></a></li>
	 </ul>
	 <div id = "prompt">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
				   {% for message in messages %}
					  {{ message }}
				   {% endfor %}
				{% endif %}
			 {% endwith %}
	</div>
	<img class = "mx-auto d-block img-fluid" alt="groupythegroupregrouper" src="../static/groupy.png" width = "5%" height = "5%">
    {% block content %}{% endblock %}
</body>
</html> 