{% extends "layout.html" %}
{% block content %}
    <h2>metric id = {{ output_name }}</h2>

    <div class="output">
        <p>
            {%- for m in metrics %}
                {{ m }}
            {%- endfor %}
        </p>    
    </div>
    
    <div id="download">
       
    <form action="" method="POST">
        <button formaction="/download/{{ output_name ~ '.csv' }}">Download Seating Chart</button>
    </form>
    <br>
    <form action = "" method="POST">
        <button formaction="/download/{{ output_name ~ '-postEm.csv' }}">Download Sakai Postem</button>
    </form>
    </div>
   

    {% endblock content %}
