{% extends "layout.html" %}
{% block content %}
        <a href="/"><div class="header">
                <img alt="groupythegroupregrouper" src="../static/groupy.png">
                <h1>Groupre - Room Builder</h1>            
            </div></a>
    <h1>Metrics</h1>
    <h2>{{ output_name }}</h2>
    <div class="output"></div>
    
    <ul>
        {%- for m in metrics %}
        <li>{{ m }}</li>
        {%- endfor %}
    </ul>
    <div id="download">
    <form action="" method="POST">
        <button formaction="/download/{{ output_name ~ '.csv' }}">Download Seating Chart</button>
    </form>
    </div>
    <br>
    <form action"" method="POST">
        <button formaction="/download/{{ output_name ~ '-postEm.csv' }}">Download Sakai Postem</button>
    </form>

    {% endblock content %}
