<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/default.css">
    <title>Download Seating Chart</title>
</head>
<body>
    <a href="/"><div class="header">
            <img alt="groupythegroupregrouper" src="../static/groupy.png">
            <h1>Groupre</h1>            
    </div></a>
    <h2>Metrics</h2>
    <h2>{{ output_name }}</h2>
    <div class="output"></div>
    
    {%- for m in metrics %}
    <p>{{ m }}</p>
    {%- endfor %}
    <div id="download">
    <form action="" method="POST">
        <button formaction="/download/{{ output_name ~ '.csv' }}">Download Seating Chart</button>
    </form>
    </div>
    <br>
    <form action"" method="POST">
        <button formaction="/download/{{ output_name ~ '-postEm.csv' }}">Download Sakai Postem</button>
    </form>

</body>
</html>