{% extends "layout.html" %}
{% block content %}
    <h2 class = "pageTitle" >{{title}}</h2>
    <br>

    <div class="w3-container">
        <div class="w3-display-container w3-display-middle" style="height:30%;width:50%">
                <!--input type="checkbox" class="w3-display-topmiddle" id="check"-->                
                <form class="w3-display-middle" method="POST" action="selectRoom(select)">
                    <p>Select a Room</p>
                    <select id="dropdown">
                        {%- for item in chairFiles.keys() %}
                        <option value="{{ chairFiles[item] }}">{{ item }}</option>
                        {%- endfor %}
                    </select>
                    <button type="button" id="selectRoom">Submit</button>                    
                </form>
                <script>
                    document.getElementById("selectRoom").onclick = function(){
                        var select = document.getElementById('dropdown');
                        var idx = select.selectedIndex;
                        var selectedOption = select.options[idx].value;
                       /* var fallback = document.getElementById("check").checked;
                        if (fallback){
                            selectedOption = selectedOption + '-fallback';
                        }*/
                        window.location = "/upload/"+selectedOption;
                    };
                </script>
        </div>
    </div>
    {% endblock content %}

