<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>jquery.square.js | JavaScript | デモページ</title>
    <link href="static/css/sample.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>jquery.square.js</h1>
    <div id="boxOuter">
        <div class="square">
            <div class="inner">
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
        </div>
        <div class="square">
            <div class="inner">
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
        </div>
        <div class="square">
            <div class="inner">
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
        </div>
        <div class="square _2">
            <div class="inner">
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
        </div>
        <div class="square">
            <div class="inner">
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
        </div>
        <div class="square">
            <div class="inner">
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
        </div>
        <div class="square">
            <div class="inner">
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
        </div>
        <div class="square">
            <div class="inner">
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
        </div>
        <div class="square">
            <div class="inner">
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
        </div>
        <div class="square">
            <div class="inner">
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
        </div>
        <div class="square _2">
            <div class="inner">
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
        </div>
        <div class="square">
            <div class="inner">
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
        </div>
        <div class="square">
            <div class="inner">
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
        </div>
        <div class="square">
            <div class="inner">
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
        </div>
        <div class="square">
            <div class="inner">
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
        </div>
        <div class="square">
            <div class="inner">
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
        </div>
        <div class="square">
            <div class="inner">
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
        </div>
        <div class="square">
            <div class="inner">
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
        </div>
        <div class="square _1_2">
            <div class="inner">
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
        </div>
        <div class="square">
            <div class="inner">
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
        </div>
        <div class="square">
            <div class="inner">
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
        </div>
        <div class="square">
            <div class="inner">
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.square.min.js"></script>
    <script type="text/javascript">
        var square = null;
        var now = null;

        function resizeHandler() {
            var cur = null;

            var width = $(window).width();

            if (width < 640) {
                cur = 'sp';
            } else {
                cur = 'pc';
            }

            if (now === cur) {
                return;
            }
            now = cur;

            if (square) {
                square.destroy();
                square = null;
            }
            setTimeout(function () {
                switch (now) {
                    case 'pc':
                        square = $("#boxOuter").square({
                            width: 200,
                            height: 200,
                            space: 2,
                            speed: 0,
                            duration: 0,
                            ease: "easeOutExpo"
                        });
                        break;
                    case 'sp':
                        square = $("#boxOuter").square({
                            width: '50%',
                            height: 400,
                            space: '2%',
                            speed: 0,
                            duration: 0,
                            ease: "easeOutExpo"
                        });
                        break;
                }
            }, 1)
        }
        $(window).on('resize', resizeHandler);
        resizeHandler();
    </script>
</body>

</html>