{% extends "layout.html" %}
{% block content %}
    <h1 class = "pageTitle">{{title}}</h1>
    <br>
    <h2>Test Cases</h2>

    </select>
    <form action="" method="post">
        <div class = "form-group">
                {%- for item in test_files.keys() %}
                <div class = "col-md-6">
                        <button class = "btn btn-info" formaction="download/{{ test_files[item] }}">
                            <a>{{ item }}</a>   
                        </button>
                </div>
                {%- endfor %}
        </div>
        <div class = "form-group">
            <p>Test files for download</p>
        </div>
        
 

    </form>

    <form method=post enctype=multipart/form-data>
        <div class = "form-group">
            <input type= "file" name= "file">
            <input class = "btn btn-success" type= "submit" value= "Upload">
        </div>
            
    </form>
{% endblock content %}
