<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>groupre: Upload Students Preference</title>
</head>

<body>
    <div class="w3-container">
        <a href="/"><div class="w3-display-container w3-display-topmiddle" style="height:100px;width:50%">
            <h1 class="w3-display-middle">Groupre</h1>                            
            <img class="w3-display-right" alt="groupythegroupregrouper" src="../static/groupy.png" width="100px" height="100px">
        </div></a>
    </div>

    <div class="w3-container">
        <div class="w3-display-container w3-display-middle" style="height:30%;width:50%">
                <form class="w3-display-middle" method=post enctype=multipart/form-data>
                        <input type=file name=file>
                        <input type=submit value=Upload>
                </form>
        </div>
    </div>
</body>
