
   {% extends "layout.html" %}
   {% block content %}
    <div class="w3-container">
        <div class="w3-display-container w3-display-middle" style="height:30%;width:50%">
                <form class="w3-display-middle" method=post enctype=multipart/form-data>
                    <input type= "file" name="file">
                    <p>choose fall back</p>
                    <input type="checkbox" name = "fall_back" value = "fallback">
                    <p>choose team matching priority</p>
                    <label><input type ="radio" name = "teamOpt" value = "gender">gender match</label>
                    <label><input type ="radio" name = "teamOpt" value = "highlow">score match high with low</label>
                    <label><input type ="radio" name = "teamOpt" value = "average">score match average</label>
                    <br>
                    <input type= "submit" value="Upload">
                </form>
        </div>
    </div>
    {% endblock content %}
