<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/default.css" type="text/css">
    <title>groupre: Upload Students Preference</title>
</head>

<body>
    <a href="/"><div class="header">
            <img alt="groupythegroupregrouper" src="../static/groupy.png">
            <h1>Groupre</h1>            
    </div></a>

    <h2>Test Cases</h2>

    <form action="" method="post">
        <label>Test Cases:</label>
        {%- for item in test_files.keys() %}
        <button formaction="download/{{ test_files[item] }}">
            <a>{{ item }}</a>
        </button>
        {%- endfor %}
    </form>

    <form method=post enctype=multipart/form-data>
        <p>
            <input type=file name=file>
            <input type=submit value=Upload>
    </form>

</body>